
@import url('https://fonts.googleapis.com/css?family=Raleway:700');
@import url('https://fonts.googleapis.com/css?family=Lato:700');

  header{
    width: 15%;
    height: auto;
    background-color: white;
    margin: 0 auto;
  }

  main{
    width: 80%;
    height: auto;
    background-color: white;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
  }

  footer{
    width: 80%;
    height: 100px;
    background-color: white;
    margin: 0 auto;
  }

  nav{
    width:940px;
    background-color: white;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
  }

  nav ul{
    margin-left: -15px;
  }

  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right:20px;
  }

  nav ul li a{
    color: black;
    text-decoration: none;
  }

  nav ul li a:hover{
    color: grey;
  }

  #grid1{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
  }

  #grid2{
    display: grid;
    grid-template-row: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
  }

  #grid3{
    display: grid;
    grid-template-row: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin-left: 130px;
  }

  #grid4{
    display: grid;
    grid-template-row: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
      }


  .imageGallery{
    width: 100%;
    margin: 0auto;
  }

  .imageGallery2{
    width: 80%
    margin: 0auto;
  }

  #listLogo{
    margin-left: 90px;
  }

  form{
    margin-bottom: 20px;
  }

  p{
    text-align: center;
      font-family: 'Raleway', sans-serif;
  }
