@import "desktop.css";

body {
  background-color: white;
}

section{
  width: 100%;
  height: auto;
  background-color: white;
  margin-bottom:10px;
}

#grid1{
  display: block;
}

#grid2{
  display: block;
}

#grid3{
  display: block;
}

#grid4{
  display: block;
}

.imageGallery{
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.imageGallery2{
  width: 30%
  margin: 0 auto;
  margin-left: -90px;
}

#listLogo{
  margin-left: -25px;
}

form{
  margin-bottom: 20px;
}

p{
  text-align: center;
}
